@font-face {
  font-family: "EscapeGreat";
  src:url("./assets/fonts/EscapeGreat.woff2") format("woff2"), 
      url('./assets/fonts/EscapeGreat.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
