*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logback{
  min-height: 100vh;
  width: 100%;
   display: flex;
  flex-direction: column;  /* vertical center */
  align-items: center;       /* horizontal center */
  text-align: center;
    background:
    linear-gradient(135deg, rgba(7, 11, 38, 0.65), rgba(13, 19, 46, 0.65)),
    url("/back.jpeg");
   background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center; 
}

.log{
     font-family:"EscapeGreat";
     font-size: 100px;
  text-align: center;
  text-shadow: 10px 10px 10px rgba(9, 9, 0, 0.50);
background: linear-gradient(360deg, #00F7FF 19.5%, #009FE8 86%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 110px;
  letter-spacing: 2px;
}
.logid{
    color: #FFF;
text-align: center;
font-family: "Poppins";
  font-weight: 200;
font-size: 35px;
margin-top: 50px;
line-height: 1.2;
font-weight: 200;
}

.detail{
    color: #FFF;
text-align: center;
font-family: "Poppins";
  font-weight: 200;
font-size: 35px;
margin-top: 50px;
line-height: 1.2;
font-weight: 200;
}

.teamInput {
  width: 350px;
height: 60px;
border-radius: 16px;
  font-size: 30px;
  color: #fff;
  margin: 40px 0;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 999;
  background: rgba(255, 255, 255, 0.04);
   backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
}


.logbutton{
    width: 200px;
    height: 50px;
    font-family: "Poppins";
  font-weight: 200;
    border-radius: 24px;
}