*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pback{
  min-height: 100vh;
  width: 100%;
   background:
    linear-gradient(135deg, rgba(7, 11, 38, 0.5), rgba(13, 19, 46, 0.5)),
    url("/back.jpeg");

  /* center the container */
  display: flex;
  flex-direction: column; 
}

.pheader{
     font-family:"EscapeGreat";
     font-size: 142px;
  text-align: center;
  text-shadow: 12px 0px 10px rgba(0, 0, 0, 0.50);
background: linear-gradient(180deg, #FFC642 0%, #FF6E8A 100%), #FFB84D;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 210px;
  letter-spacing: 2px;
}
.wrongp{
    color: #FFF;
text-align: center;
font-family: "Poppins";
  font-weight: 200;
font-size: 35px;
margin-top: 50px;
line-height: 1.2;
font-weight: 200;
}

.wrongp b{
  font-family: "Poppins";
  font-weight: 200;
}

.backbutton{
    width: 300px;
    height: 70px;
    font-family: "Poppins";
  font-weight: 200;
    border-radius: 24px;
    margin: auto;
}